* {
margin: 0;
padding: 0;
box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 color: #523249;
 font-family:'Open Sans', 'Helvetica Neue';
 font-size: 16px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

.nav_link {
    background-color: #815355 ;
    color: #cbd4c2;
    font-size: 14px;
    padding: 5px;
}

.nav_lista {
    margin-top: 20px;
    display: inline-block;
}


.nav_link:hover {
background-color:#c3b299;
}


.nav_link:visited {
   background-color: #523249 ;
}

h1,h2 {
    color: #815355;
    margin: 16px 0px;
}

h1 {
    font-size: 36px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}

h2 {
    font-size: 26px;
}

p, dl {
    margin: 20px 0px;
}

#seccionPrincipal {
background-image: url(./Imagenes/portada.png);
background-size:contain;
background-repeat: no-repeat;
height: 200px;
background-attachment:fixed;
}

.seccion_trayectoria {
border: #00000 solid 2px;

}

.imagen_album {
    width: 250px;
    text-align: center;
}

dl {
border: #523249 solid 1px;
padding: 30px 30px;
border-radius: 10px;


}

dt {
    color: #523249;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}


h1 {
    font-size: 0;
    background-image: url(./Imagenes/logo.png);
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 150px ;
      vertical-align: middle;
}

.nav {
    display: inline-block;
     vertical-align: middle;
     margin-left: 250px;
}

header {
    width: 1150px;
    text-align:justify;
    margin-bottom: 30px;

}


.imagen_proyectos {
display: inline-block;
vertical-align:middle;
margin-left: 20px;

}

.detalle_proyectos {
display: inline-block;
vertical-align: middle;
margin-left: 20px
}

.figure_hannah {
width: 1000px;

}

.titulo_proyecto {
    margin: 20px 0px;
}



























































footer {
    background-color: #cbd4c2;
}